body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn{
    background: #222139 !important;
    border-radius: 6px !important;
    border:none !important;
}

.theme-text{
    color: #222139 !important;
}

.theme-bg{
    background: #222139 !important;
}

h2 {
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 64px !important;
    text-transform: capitalize;
}

h4{
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 64px !important;
}
p{
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    letter-spacing: 0.105em !important;
    text-transform: capitalize !important;
    color: #FFFFFF;
}

.header {
    background: transparent;
    width: 100%;
    z-index: 10;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: fixed;
    -moz-transition: all 0.5s;
    padding: 18px 0;
}

.nav-menu.navbar-nav {
    font-weight: 600 !important;
    font-size: 16px !important;
    text-transform: capitalize;
    color: #222139 !important;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    border-bottom: 2px solid #1E50FF !important;
    transition: all 0.3s ease !important;
}

.header-sticky {
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}


.connectBtn{
    margin-left: 85px;
    padding: 12px 16px !important;
    background: #FFFFFF !important;
    border-radius: 5px !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    text-transform: capitalize;
    color: #000000 !important;
    transition: all 1s ease !important;
}

.connectBtn:hover{
    transform: scale(1.1);
}

.connectedBtn {
    background: #f4074b;
    color: #fff;
    padding: 12px 16px;
    border: none;
    border-radius: 5px !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    transition: all 1s ease !important;
}

.connectedBtn:hover{
    transform: scale(1.1);
}

button.iekbcc0.iekbcc9.ju367v73.ju367v7o.ju367v9c.ju367vn.ju367vec.ju367vex.ju367v11.ju367v1c.ju367v2b.ju367v8o._12cbo8i3.ju367v8m._12cbo8i4._12cbo8i6 {
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    height: 38px;
    display: flex;
    align-items: center;
}

section.scroll1 {
    position: relative;
    top: -14px;
    background: #fff;
}

.scroll1-col1 {
    padding: 16vw 7vw !important;
}

.scroll1-col2 {
    background: url('../Images/scroll1bg.png') no-repeat;
    padding: 17vw 7vw 0vw 7vw;
    background-size: 100% 150%;
}

.scroll1-col2>img {
    display: block;
    width: 74%;
    margin: 0 auto;
}

.scroll1-col1 > h4 {
    font-weight: 400 !important;
    font-size: 29px !important;
    line-height: 32px !important;
    letter-spacing: 0.105em;
    text-transform: capitalize;
    color: #000000;
    font-style: italic;
}

.scroll1-col1 > h2 {
    font-weight: 700 !important;
    font-size: 55px !important;
    line-height: 84px !important;
    text-transform: capitalize;
    color: #E59148;
}

.scroll1-col1 >p {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.105em;
    text-transform: capitalize;
    color: #222139;
}

.scroll1-btn {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 32px !important;
    text-transform: capitalize;
    padding: 10px 20px !important;
    transition: all 0.5s ease !important;
}

.scroll1-btn:hover {
    transform : scale(1.1);
}

.scroll2{
    background: #222139;
    padding: 60px 0;
    margin-top:-14px;
}

.steps-box {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 60px 20px;
}

.box-sub-head {
    font-size: 35px;
    line-height: 52px;
    text-transform: capitalize;
    color: #222139;
}

.box-head {
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    text-transform: capitalize;
    color: #000000;
}

.steps-box >p{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.105em;
    text-transform: capitalize;
    color: #222139;
}

.scroll3{
    padding: 60px 0;
}

.scroll3-col>img {
    width: 89%;
}

.scroll3-row {
    padding: 6rem 0;
}

.scroll3-col2 {
    padding: 0 5rem !important;
}

.buy-form-container{
    border-radius: 11px;
    padding: 40px;
}

.scroll3-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 64px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.buy-box>p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.progress-bg{
    background: #444365;
    border-radius: 5px;
}

.lottery-progress-text {
    display: flex;
    justify-content: space-between;
}

.lottery-progress-text>p {
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 37px !important;
}

.form-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    text-transform: capitalize;
    color: #fff;
}

.buy-form-i {
    background: rgba(255, 255, 255, 0.13) !important;
    border-radius: 5px !important;
    border: none !important;
    color: #fff !important;
}

.form-control:focus {
    color: #fff !important;
    box-shadow: 0 0 0 0.2rem rgb(142 113 234 / 50%) !important;
}

.ticketVal-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #8E71EA;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 10px 10px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    padding: 6px 16px;
    transition: all 0.3s ease 0s;
    color: #fff;
}

.ticketVal-btn:hover {
    box-shadow: 0 0 0 0.2rem rgba(142, 113, 234, 0.5);
    transform: scale(1.05);
}

.total-txt {
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 54px !important;
    text-transform: capitalize;
}

.buy-btn {
    height: 67px;
    background: #8E71EA;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 0 20px;
    transition: all 0.5s ease;
}

.buy-btn:hover {
    transform: scale(1.1);
}

.winner-list-head{
    border-radius: 12px;
    padding: 7px 0 3px 0;
}

.winner-list-body{
    border-radius:12px;
}

.winner-bg1 {
    background: #8E71EA;
}

.winner-bg2{
    background: #55499E;
}

.winnerImg {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.token-chart {
    width: 85%;
}

.scroll5{
    padding: 120px 0;
}

.scroll6{
    padding: 120px 0;
}

.d-winners{
    border-radius: 18px;
    padding: 0 30px;
}

.d-winners>div:nth-child(n+1)>h5 {
    font-weight: 500;
    font-size: 15.56px;
    line-height: 19px;
    letter-spacing: 2.71121px;
    text-transform: uppercase;
    color: #7780A1;
}

.d-winners-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.105em;
    text-transform: capitalize;
    color: #7780A1;
}

.scroll6-btn {
    padding: 11.0699px 14.7599px !important;
    height: 52.14px;
    background: #FFFFFF !important;
    border-radius: 16px !important;
    font-weight: 600 !important;
    font-size: 14.7599px !important;
    line-height: 30px !important;
    text-transform: capitalize;
    color: #222139 !important;
    transition: all 0.5s ease !important;
}

.scroll6-btn:hover {
    transform: scale(1.1);
    color: #222139 !important;
}

.scroll6-btn-tp {
    padding: 12px 26px !important;
    height: 52.14px;
    border: 1px solid #FFFFFF !important;
    border-radius: 16px !important;
    margin-left: 20px;
    transition: all 0.5s ease !important;
    font-weight: 600 !important;
    font-size: 14.7599px !important;
    line-height: 30px !important;
    text-transform: capitalize;
}

.scroll6-btn-tp:hover {
    transform: scale(1.1);
    color: #fff !important;
}

.users-img {
    width: 100%;
}

ul.social-icons {
    text-decoration: none !important;
    text-align: right !important;
}

.footer-ic {
    font-size: 33px;
    color: #8E71EA;
    border: 1px solid #8E71EA;
    border-radius: 100px;
    padding: 6px;
    margin: 0 4px;
}

.justify-sm-none{
    justify-content: flex-end!important;
}

.walletpopup-container {
    background: #00000063;
    height: 100vh;
    width:100%;
    position: fixed;
    top: 0;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    padding: 0 20px;
}

.show{
    visibility: visible;
    opacity: 1;
}

.walletpopup {
    width: 50%;
    background: #fff;
    height: auto;
    border-radius: 12px;
    padding: 40px;
}

.walletpopup-close {
    position: absolute;
    right: -15px;
    top: -24px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.walletpopup-img {
    width: 87%;
}

.border-right.col-md-6 {
    border-right: 1px solid #dee2e6;
}

.walletpopup-head {
    position: relative;
}

.wallet-btn{
    cursor: pointer;
}

select.gtranslate {
    position: fixed;
    bottom: 0;
    right: 51px;
    height: 42px;
    cursor: pointer;
}

.scroll4-row {
    height: 620px;
    overflow-y: scroll;
}


/* Meadia Query */

@media (max-width: 340px){
    .scroll6-btn-tp {
        margin: 19px 0px 0 10px !important;
        position: relative;
        left: -12px;
    }

    .buy-form-container {
        padding: 40px 24px !important;
    }
    .total-txt {
        font-size: 11px !important;
    }
    .walletpopup {
        width: 100%;
    }
    .justify-sm-none {
        justify-content: unset !important;
    }
    .connectBtn {
        margin-left: 0px;
    }
}

@media (max-width: 540px){
    .nav-menu{
        float:none;
    }
    .scroll1-row {
        padding: 83px 0;
    }
    .navbar {
        padding: 0 14px;
    }
    .header{
        background: rgba( 255, 255, 255, 0.65 );
        box-shadow: 0 0px 2px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 18px 14px;
    }
    .justify-sm-none{
        justify-content: unset !important;
    }
    .scroll1-col1 > h2 {
        font-size: 39px !important;
    }
    .scroll1-col1 > h4 {
        font-size: 22px !important;
    }
    .scroll1-btn{
        margin-top: 9px;
    }
    .scroll3-col2 {
        padding: 0 2rem !important;
    }
    .total-txt {
        font-size: 14px;
    }
    ul.social-icons {
        text-align: center !important;
        padding: 25px 0;
    }
    .cpy{
        text-align: center;
    }
    .d-winners {
        padding: 3rem 1rem !important;
    }
    .walletpopup {
        width: 100%;
    }
    .connectBtn {
        margin-left: 0px;
    }
}

@media (min-width: 541px) and (max-width: 768px){
    .nav-menu{
        float:none;
    }
    .scroll1-row {
        padding: 83px 0;
    }
    .navbar {
        padding: 0 14px;
    }
    .justify-sm-none{
        justify-content: unset;
    }
    .scroll1-col1 > h2 {
        font-size: 39px !important;
    }
    .scroll1-col1 > h4 {
        font-size: 22px !important;
    }
    .scroll1-btn{
        margin-top: 9px;
    }
    .scroll3-col2 {
        padding: 0 2rem !important;
    }
    .total-txt {
        font-size: 14px;
    }
    ul.social-icons {
        text-align: center !important;
        padding: 25px 0;
    }
    .cpy{
        text-align: center;
    }
    .walletpopup {
        width: 100%;
    }
    .connectBtn {
        margin-left: 0px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
}